.sidebar-left {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr;
    position: fixed;
    z-index: 1;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(250, 235, 215, .95);
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}

.sidebar-left-form {
    flex-direction: column;
}

.sidebar_icon-close {
    justify-self: flex-end;
    margin: 1rem;
    padding: .5rem;
    width: 3rem;
    height: 3rem;
    background-color: rgb(218, 165, 32, .9);
    color: white;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
}

.fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    padding: 0;
    height: 5rem;
    margin-top: 1rem;
}

.legend {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: .5rem;
}



.sidebar-form_label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    padding: .5rem;
    background-color: rgb(218, 165, 32, .9);
    font-weight: bold;
    color: white;
    border: 2px solid transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.sidebar-form_input {
    width: 0;
    height: 0;
    opacity: 0;
}

.sidebar-form_input:checked+label {
    border: 2px solid rgb(139, 69, 19);
}

/* .sidebar-form-top-seller_input:checked+label {
    border: 2px solid rgb(139, 69, 19);
} */

.sidebar-form-btn {
    margin-top: 2rem;
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 6rem;
    height: 3rem;
    font-weight: bold;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.type-fragrance-filter_container {
    height: 2rem
}


.show-sidebar-left_true {
    width: 100vw;
}

.show-sidebar-left_false {
    width: 0vw;
}

.show-menu-elements_true {
    display: block;
}

.show-menu-elements_false {
    display: none;
}

.show-menu-form-elements_true {
    display: flex;
}

.show-menu-form-elements_false {
    display: none;
}