.header {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    align-items: center;
    width: 100vw;
    height: 10vh;
}

.header_icon-menu,
.header_icon-search,
.header_icon-cart {
    width: 30px;
    height: 30px;
    margin-left: .5rem;
}

.header_icon-menu:hover,
.header_icon-search:hover,
.header_icon-cart:hover {
    cursor: pointer;
}

.header_icon-search {
    justify-self: flex-end;
}

.cart-icon-container {
    position: relative;
}

/*It takes this class from the footer.css, so it has to be
adapted a little bit*/
.icon-number_span.header-icon-number_span {
    right: 5px;
}