.sidebar-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 9fr;
    justify-content: center;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255, .95);
    transition: 0.2s ease-out;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
}

.sidebar-right_icon-close {
    justify-self: flex-start;
}

.search-product_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sidebar-right_label-search {
    font-weight: bold;
    font-size: 1.2rem;
}

.sidebar-right_input-search {
    height: 3rem;
    text-align: center;
    border-color: rgb(218, 165, 32, .9);
    border-style: solid;
}

.sidebar-right-true {
    right: 0px;
}

.sidebar-right-false {
    right: -100vw;
}